<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<h1><%-profile_data.full_name%></h1>
<h2><%-profile_data.username%></h2>
email: <%-profile_data.email%><br>
BirthDay: <%-profile_data.dob%><br>
Sex: <%-profile_data.sex%><br>


</body>
</html>